@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}
.scrolling-touch::-webkit-scrollbar {
  display: none;
}
